{
  "swagger": "2.0",
  "info": {
    "title": "Sistema Escolar - Generation",
    "description": "Sistema de cadastro de alunos através de operações de CRUD",
    "version": "1.0.0"
  },
  "host": "sistema-escolar-generation.cyclic.cloud",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/alunos": {
      "get": {
        "description": "Permite cadastrar um novo aluno no sistema",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "description": "Permite cadastrar um novo aluno no sistema",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nome": {
                  "example": "Enzo"
                },
                "idade": {
                  "example": "16"
                },
                "primeira_nota": {
                  "example": "60,00"
                },
                "segunda_nota": {
                  "example": "75,00"
                },
                "professor_nome": {
                  "example": "Mauro Leite"
                },
                "sala": {
                  "example": "B"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/alunos/{id}": {
      "get": {
        "description": "Permite exibir as informações de um aluno específico no sistema",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "description": "Permite atualizar as informações de um aluno no sistema",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nome": {
                  "example": "Ana Paula"
                },
                "idade": {
                  "example": "14"
                },
                "primeira_nota": {
                  "example": "80,00"
                },
                "segunda_nota": {
                  "example": "67,00"
                },
                "professor_nome": {
                  "example": "Tiago Neves"
                },
                "sala": {
                  "example": "C"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "description": "Permite excluir o cadastro de um aluno no sistema",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}